/*
Theme Name: My Theme
Description: Theme crée dans le cardre du cours de wordpress à Interface3
Author: Khun Ly
Requires PHP: 5.4
Version: 1.0.0
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 100px;
    /* background-color: aquamarine; */
    border-bottom: 1px solid gray;
}

#menu-container {
    height: 100px;
}

#menu-container .menu-item-has-children>a::after {
    font-family: "Font Awesome 5 Free";
    content: " \f0d7";
    font-weight: 900;
}

#menu-container .current-menu-item>a{
    color: violet;
}

#menu-container .current-menu-item>a::before {
    border-color: violet;
    width: 100%;
    left: 0;
}

#menu-container ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#menu-container>ul {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

#menu-container>ul>li { 
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

#menu-container>ul>li>.sub-menu {
    position: absolute;
    bottom: -100%;
    border: 1px solid black;
    border-top: unset;
}

#menu-container>ul>li>.sub-menu>li {
    height: 50px;
    padding: 10px;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
}

#menu-container>ul>li a { 
    text-decoration: none;
    color: #333;
    position: relative;
}

#menu-container>ul>li>a::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid #333;
    width: 0;
    bottom: -10px;
    left: 50%;
}

#menu-container>ul>li>a:hover::before{
    width: 100%;
    transition: all 0.3s cubic-bezier(.12,1.08,.59,1.44);
    left: 0;
}

#menu-container li>ul {
    display: none;
}

#menu-container li:hover>ul{
    display: block;
}

@media screen and (max-width: 768px) {
    header {
        height: unset;
    }
    #menu-container {
        height: unset;
    }

    #menu-container>ul {
        flex-direction: column;
        
    }

    #menu-container>ul li{
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #menu-container .menu-item-has-children>a {
        height: 50px;
    }

    #menu-container>ul>li>.sub-menu {
        position: unset;
        border: unset;
    }
}